.categories-section {
  padding: $md-size 0;
  .categories-section-main {
    display: grid;
    grid-template-columns: repeat(25, 1fr);
    grid-template-rows: repeat(5, 1fr);
    row-gap: $sm-size;
    & img {
      filter: grayscale(50%);
      transition: all 0.2s;
    }
    & img:hover {
      display: block;
      filter: grayscale(0%);
      transform: scale(1.2);
    }
  }
}
