.courses-list-container {
  padding: 0 $md-size;
  margin: $md-size 0 0 0;
  display: flex;
  flex-direction: column;
  gap: $lg-size;
  align-items: center;
  .sub-heading {
    margin: 0;
    font-size: $font-size-lg;
  }
  .courses-list {
    padding: 0;
    margin: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(36rem , 1fr));
    column-gap: $sm-size;
    row-gap: $xl-size;
    div {
      justify-self: center;
    }
  }
}

@media screen and (max-width: 500px) {
  .courses-list-container {
    padding: $sm-size;
  }
}