.filter-container {
  background-color: $medium-gray;
  margin: $normal-size;
  border-radius: $xsm-size;
  padding: $base-size;
  transition: all 0.3s;
  h2 {
    text-align: center;
    margin-bottom: $base-size;
  }
  .filter-actions {
    box-sizing: border-box;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24.2rem, 1fr));
    gap: $sm-size;
    transition: all 0.3s;
  }
}
