.filter-select-container {
  display: flex;
  align-items: center;
  gap: $normal-size;
  min-width: 24.2rem;
  label {
    font-size: $normal-size;
    color: $slate;
    font-weight: 700;
    margin: 0;
    min-width: 7.5rem;
  }
  .filter-select {
    width: 13.5rem;
    font-family: "Nunito", sans-serif;
    color: $slate;
    padding: $xxsm-size;
    font-size: $normal-size;
    font-family: inherit;
    border: none;
    background-color: $dark-gray;
    border-radius: 9px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    &:focus {
      outline-color: $tertiary-color;
    }
  }
}
