.hero-section {
  background-color: $primary-color-old-lace;
  min-height: 80vh;
}

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: $xxxxl-size;
    align-items: center;
    &-description {
      font-size: $font-size-md;
      line-height: 1.6;
      margin-bottom: $lg-size;
    }
    .courses-sources {
      display: flex;
      align-items: center;
      gap: $normal-size;
      margin-top: $lg-size;
      &-imgs {
        display: flex;
      }
      &-imgs img {
        height: 4.8rem;
        width: 4.8rem;
        border-radius: 50%;
        margin-right: -$normal-size;
        border: 3px solid #fdf2e9;
      }
      &-imgs img:last-child {
        margin: 0;
      }
      .sources-text {
        font-size: $font-size-base;
        font-weight: 600;
        color: $primary-font-color;
        span {
          color: $secondary-font-color;
          font-weight: 700;
        }
      }
    }
  
    .hero-img {
      margin-top: $md-size;
      width: 100%;
      filter: grayscale(50%);
    }
  }

