.hero-section {
  background-color: $dark-gray;
  box-sizing: border-box;
  min-height: calc(100vh - 9.0rem);
  color: $off-white;
  display: flex;
  align-items: center;
  .container {
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(35rem, 60rem));
    gap: $xxxxl-size;
  }
  .hero-text-box {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: $lg-size;
    .nav-link {
      align-self: start;
    }

    .courses-sources {
      display: flex;
      align-items: center;
      gap: $normal-size;
      margin: 0;
      margin-top: auto;
      &-imgs {
        display: flex;
      }
      &-imgs img {
        height: 4.8rem;
        width: 4.8rem;
        border-radius: 50%;
        margin-right: -$normal-size;
        border: 3px solid $white;
      }
      &-imgs img:last-child {
        margin: 0;
      }
      .sources-text {
        color: $slate;
        font-size: $font-size-base;
        font-weight: 600;
        span {
          color: $off-white;
          font-weight: 600;
        }
      }
    }
  }
  .hero-img {
    width: 100%;
    filter: grayscale(30%);
  }
}
