.pricing-section {
  width: 100vw;
  height: 100vh;
  background-color: $dark-gray;
  display: flex;
  align-items: center;
  padding: $md-size 0;
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $xl-size;
  }
  .pricing-section-main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    column-gap: $lg-size;
  }
}
