.header {
  box-sizing: border-box;
  height: 9.0rem;
  width: 100%;
  background-color: $medium-gray;
  color: $off-white;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  padding: 0 $lg-size;


  .logo-container {
    a {
      text-decoration: none;

    }

    h1 {
      margin: 0;
      font-size: $font-size-3xl;
      font-family: serif;
      font-weight: 900;
      color: $secondary-font-color;
    }
  }


  .header-user-avatar {
    height: 4.8rem;
    width: 4.8rem;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 50%;
    border: 3px solid white;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.header-logo-container {
  text-decoration: none;

  .header-logo {
    font-family: "Pacifico", cursive;
    font-size: $font-size-3xl;
    font-family: serif;
    font-weight: 500;
    margin: 0;
    color: $secondary-font-color;
  }
}

.navigation {
  justify-self: end;
  display: flex;
  align-items: center;
  justify-content: center;
  &-checkbox {
    display: none;
  }
  &-toggle {
    position : absolute;
    top: 2.0rem;
    right : 4.8rem;
    box-sizing: border-box;
    height: 5.0rem;
    width: 5.0rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    z-index: 12;
    .menu-icon {
      stroke: black;
      z-index: 12;
    }
  }
  &-background {
    position: absolute;
    top: 3rem;
    right: 5.2rem;
    width: 2.0rem;
    height: 2.0rem;
    border-radius: 50%;
    background-color: white;
    z-index: 10;
    transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1);
  }
  &-nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    width: 0;
    z-index: 11;
    transition: all .5s
  }
  &-list {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    gap: $lg-size;
    & li {
      display: flex;
      align-items: center;
      gap: $xxsm-size;
    }
  }
  &-checkbox:checked~ &-background {
    transform: scale(200);
  }
  &-checkbox:checked~ &-nav {
    transition: all 1s;
    opacity: 1;
    width: 100vw;
  }
}
