* {
    box-sizing: border-box;
}
html {
    font-size : 62.5%;
}
body {
    font-family: 'Nunito', sans-serif;
    font-size : $font-size-normal;
    margin: 0;
    &::-webkit-scrollbar {
        height: 0px;
        width: 0px;
    }
}

