.heading-primary,
.heading-secondary,
.heading-tertiary {
  color: $primary-font-color;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  letter-spacing: -0.5px;
}

.heading-primary {
  font-size: $font-size-4xl;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}
.heading-secondary {
  margin: 0;
  font-size: $font-size-2xl;
  line-height: 1.05;
  margin-bottom: -0.5px;
}

.sub-heading {
  margin: 0;
  font-size: $font-size-md;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: $md-size;
  color: $primary-font-color;
}
//************** BUTTON/Link *****************\\
.btn,
.btn:link,
.btn:visited {
  padding: $sm-size;
  font-size: $font-size-base;
  max-height: 4.6rem;
  text-decoration: none;
  padding: $sm-size $base-size;
  border-radius: $xsm-size;
  background-color: $secondary-font-color;
  font-weight: 500;
  color: white;
  border: none;
  cursor: pointer;
  font-family: inherit;
  transition: all 0.3s;
}

.btn:hover,
.btn:active {
  background-color: $secondary-font-color;
  color: #333;
}

//******* GENERAL ***********//
.container {
  /* 1140px */
  max-width: 140rem;
  padding: 0 $md-size;
  margin: 0 auto;
}
