// colors
$dark-grey : #333333;
$grey : #666;
$blue : #1c88bf;
$dark-blue: #364051;
$off-white :#f7f7f7;
$off-white-dark : #e7e6e6;
$off-white-medium : #e7e6e6d8;

// bg color
// $primary-color-old-lace : #FDF2E9;
$primary-color-old-lace : #f9f9f9;
// $secondary-font-color : hsla(234, 48%, 50%, 0.699);
// $primary-font-color : #343a40;
$primary-font-color-fade :#6f6f6f;
$color-dark-brown : #432818;
$color-dark-blue : #34495e;
$color-off-white : #f5f6fa;

$primary-color : #fff;
$secondary-color : #333;
$tertiary-color : #0073c7;

$primary-font-color : #333;
$secondary-font-color : #F7f7f7;
$tertiary-font-color : #0073c7;

// Spacing
$xxxsm-size : 0.2rem;
$xxsm-size : 0.4rem;
$xsm-size : 0.8rem;
$sm-size : 1.2rem;
$normal-size : 1.6rem;
$base-size : 2.4rem;
$md-size  : 3.2rem;
$lg-size  : 4.8rem;
$xl-size  : 6.4rem;
$xxl-size  : 8.0rem;
$xxxl-size  : 9.6rem;
$xxxxl-size  : 12.8rem;


//font-sizes
$font-size-2xsm : 1.0rem;
$font-size-xsm : 1.2rem;
$font-size-sm : 1.4rem;
$font-size-normal : 1.6rem;
$font-size-base : 1.8rem;
$font-size-md : 2.0rem;
$font-size-lg : 2.4rem;
$font-size-xl : 3.0rem;
$font-size-2xl : 3.6rem;
$font-size-3xl : 4.4rem;
$font-size-4xl : 5.2rem;
$font-size-5xl : 6.2rem;
$font-size-6xl : 7.4rem;
$font-size-7xl : 8.6rem;
$font-size-8xl : 9.8rem;




$desktop-breakpoint : 45rem;